.faq-container {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.faq-title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 3rem;
  color: rgb(var(--text-1));
}

.faq-list {
  margin-top: 3rem;
}

.accordion-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  text-align: left;
}

.line {
  width: 80vw;
  height: 1px;
  background: linear-gradient(
    90deg,
    rgba(var(--purple-primary), 0.001) 0%,
    rgba(var(--purple-primary), 0.25) 25%,
    rgba(var(--purple-primary), 1) 50%,
    rgba(var(--purple-primary), 0.25) 75%,
    rgba(var(--purple-primary), 0.001) 100%
  );
  margin: 0 auto 3rem auto;
  display: block;
}

.faq-accordion {
  max-width: 80%;
}

@media (max-width: 768px) {
  .faq-title {
    line-height: 1.2;
    font-size: 1.75rem;
  }

  .faq-container {
    padding: 1.5rem 1rem;
  }

  .faq-accordion {
    max-width: 100%;
    width: 100%;
  }

  .line {
    width: 90vw;
  }
}
